<div class="dashboard-container">
    <h2 class="mb-4">Dashboard</h2>
    <div class="row">
        <div *ngFor="let company of companyList" class="col-sm-3" (click)="goToCompanyDetails(company)">
            <div class="card card-overview">
                <div class="card-body text-center">
                    <img [src]="company.logo" [alt]="company.name" />
                    <h2 class="card-title my-2">{{company.name}}</h2>
                    <span class="card-number elipsis">{{company.description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>